:root {
    --color-primary:#DADBD3;
    --color-primary-dark: #EAEAEA;
    --color-secondary:#D5F9BA;
    --color-bg:linear-gradient(180deg, rgba(0,150,136,1) 5%, rgba(38,162,149,1) 28%, rgba(219,219,210,1) 28%, rgba(210,219,218,1) 100%);
}

html{
    font-size: 14px;
}

/* divisione principale */
.total-container{
    background: var(--color-bg);
    position: relative;
    height: 100vh;
    overflow: auto;
}

.main-content {
    height: 90vh;
    position: relative;
    top:5vh;
    z-index: 10;
}

/* divisione main-content */
.sidebar {
    width: 300px;
    background-color: white;
    flex-shrink: 0;
}

.message-container{
    flex-grow: 1;
    background-image: url("../img/mine.jpg");
}

/* codice riutilizzato */
.img-container{
    width: 3rem;
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-dark);
}

.text{
    font-size: .7rem;
    color: #BCBEBE;
}

.form-control,
.input-group-text{
    border: none;
    box-shadow: 0px 0px 5px -1px var(--color-primary);
}

/* divisione sidebar */
.icon-box i {
    padding: 0 .4rem;
    color: #B1B1B1;
}

.blue-bar {
    background-color: #8EDAFC;
    padding: .7rem .7rem;
}

.blue-bar i{
    color: #8EDAFC;
}

.chat-list-box{
    flex-grow: 1;
    overflow: auto;
}

.chat-list-box > div{
    display: flex;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--color-primary-dark);
}

.active{
    background-color: #E9EBEB;
}

/* divisione message-container */
.message-screen{
    padding: 2rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
}

.message{
    max-width: 50%;
    min-width: 20%;
    border-radius: 10px;
    padding: .5rem .5rem .1rem;
}

.message-send {
    align-self: flex-end;
    background-color: var(--color-secondary);
}

.message-recived {
    background-color: white;
}